.metro-tile {
	width: 99px;
	height: 66px;
	padding: 4px;
	color: #FFF;
	font-family: sans-serif;
	font-size: 20px;
	border-width: 3px;
	border-style: solid;
    overflow: hidden;	
}
.tile_reset {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.tile_middle {
	-webkit-transform: scale(0.92);
	-moz-transform: scale(0.92);
	-ms-transform: scale(0.92);
	transform: scale(0.92);
}

.metro-tile-orange {
	background-color: #D8512B;
	border-color: #DC6241;
}
.metro-tile-green {
	background-color: #009719;
	border-color: #1A9F30;
}
.metro-tile-blue {
	background-color: #2878EC;
	border-color: #4396F1;
}
.metro-tile-purple {
	background-color: #5636B0;
	border-color: #6449B5;	
}
.metro-tile-pink {
	background-color: #BD1E4A;
	border-color: #B93154;	
}
.metro-tile-xbox-green {
	background-color: #6CB71E;
	border-color: #7ABD34;	
}


.tile-contanti {
	width: 160px;
	color: #FFF;
	font-size: 30px;
	text-align:right;
}

.tile-reparti {
    background-size:107px 74px;
}

.tile-prezzi {
	font-size: 18px;
    background-color:#eeeeee;
    width: 107px;
	height: 107px;
	padding: 0px;
    background-image: none;
}

.desc {
    height:80px;
	padding: 4px;
    -moz-border-radius-bottomright: 50px 25px;
    border-bottom-right-radius: 0px 0px;
    background-image: none;
}

.prezzo {
	padding-right: 3px;    
    color:#000000;
    font-weight:bold;
    text-align:right;
}

.tile-scontrino {
	font-size: 15px;
    width: 163px;
	height: 34px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-right-width: 0px;
    background-image: none;
}

.tile-scontrino-selected {
    margin-top: 15px;
    margin-bottom: 15px;
}

.keypad {
    position:absolute; left:100px; top:30px;
	z-index: 9;
	border-spacing: 10px;
}

.keypad td {
	width: 80px;
	line-height: 80px;
	border:solid 2px #ffffff;
	background-color:#333333;
	border-radius: 10px;
	text-align: center;
	font-size: 50px;
	color: blue;
}

