body {
	background-color: black;
}

.progress_bar {
	width:100%;
	background-color: #ffffff;
	background-image: url(img/progressbar.png);
	background-size: 0% 100%;
	background-repeat: no-repeat;;
	border-radius: 6px;
	height: 12px;
}

.metro-tile {
	width: 99px;
	height: 66px;
	padding: 4px;
	color: #FFF;
	font-family: sans-serif;
	font-size: 20px;
	border-width: 3px;
	border-style: solid;
	overflow: hidden;
}
.tile_reset {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.tile_middle {
	-webkit-transform: scale(0.92);
	-moz-transform: scale(0.92);
	-ms-transform: scale(0.92);
	transform: scale(0.92);
}


.tile-prezzi {
	font-size: 18px;
	background-color:#eeeeee;
	width: 107px;
	height: 107px;
	padding: 0px;
	margin: 2px;
	background-image: none;
	float: left;
}

.desc {
	height:80px;
	padding: 4px;
	-moz-border-radius-bottomright: 50px 25px;
	border-bottom-right-radius: 0px 0px;
	background-image: none;
}

.prezzo {
	padding-right: 3px;
	color:#000000;
	font-weight:bold;
	text-align:right;
}

.tile-reparti {
	font-size: 16px;
	background-size:107px 74px;
}

.tile-scontrino {
	font-size: 15px;
	width: 164px;
	height: 38px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	padding-left: 6px;
	background-image: none;
	white-space: nowrap;
}

.tile-scontrino-selected {
	margin-top: 20px;
	margin-bottom: 20px;
	border-color: #ffffff;
}

.tile-scontrino-totale {
	font-size: 30px;
	width: 163px;
	height: 107px;
	padding: 0px 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 4px;
	border-right-width: 0px;
	background-color: #D8512B;
	border-color: #DC6241;
	text-align:right;
}

.tile-scontrino-resto {
	font-size: 16px;
	width: 163px;
	height: auto;
	min-height: 50px;
	padding: 0px 4px;
	margin-top: 2px;
	border-right-width: 0px;
	background-color: #D8512B;
	border-color: #DC6241;
	text-align:right;
	white-space: nowrap;
}

.tile-totale-subtotale {
	width: 160px;
	color: #FFF;
	font-size: 28px;
	text-align: right;
	background-color: #D8512B;
	border-color: #DC6241;
}
.tile-totale-stampa {
	width: 160px;
	color: #FFF;
	font-size: 18px;
	text-align: left;
	background-color: #6CB71E;
	border-color: #7ABD34;
	background-image: url('img/tot-stampa.gif');
}
.tile-totale-menu {
	border-width: 0px;
	width: 166px;
	height: 72px;
	color: #FFF;
	font-size: 22px;
	text-align: right;
	background-image: url('img/tot-menu.jpg');
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.tile-menu {
	width: 160px;
	background-color: #2878EC;
	border-color: #4396F1;
	background-image: url('img/menu.png');
	background-size: 90%;
	background-position: center center;
	background-repeat: no-repeat;
}

.modalInput {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display:none;
	overflow: auto;
	background-color: rgba(51,51,51, 0.8);
}

.keypad {
	border-spacing: 6px;
	margin: 0px;
}

.keypad td {
	width: 70px;
	line-height: 70px;
	border-style: solid;
	border-width: 2px;
	border-color: #037bf2;
	background-color:#90aaaa;
	background-color:#037be5;
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	-webkit-transition: background-color 0.2s 0.2s, border-color 0.2s 0.2s;
}

.keypad_quantita {}
.keypad_quantita td {
	border-color: #01c5ff;
	background-color:#01bcf3;
}

.keypad_tile {
	margin-left: 6px;
	width: 236px;
	height: 56px;
	border-style: solid;
	border-width: 2px;
	font-family: sans-serif;
	color: #ffffff;
}

.keypad_tile-header {
	font-size:18px;
	text-align:center;
	margin-bottom: 2px;
}

.keypad_tile-digits {
	font-size: 30px;
	text-align: right;
	padding: 0px 16px;
}

.keypad_colore-prezzo {
	border-color: #037bf2;
	background-color:#037be5;
}

.keypad_colore-quantita {
	border-color: #01c5ff;
	background-color: #01bcf3;
}

.keypad_colore-resto {
	background-color: #D8512B;
	border-color: #DC6241;
}

@-webkit-keyframes move_down {
	0%   {-webkit-transform: translate(0px,0px);}
	10%   {-webkit-transform: translate(0px,40px);}
	70%   {-webkit-transform: translate(-90px,40px) rotate(-40deg);}
	100% {-webkit-transform: translate(0px,100px);}
}

@-webkit-keyframes move_down_fast {
	0% {-webkit-transform: translate(0px,100px);}
	100% {-webkit-transform: translate(0px,100px);}
}

@-webkit-keyframes move_down_reverse {
	0% {-webkit-transform: translate(0px, 100px);}
	50% {-webkit-transform: translate(0px, 100px);}
	100%   {-webkit-transform: translate(0px,0px);}
}

@-webkit-keyframes move_up {
	50%   {-webkit-transform: translate(0px,0px);}
	100% {-webkit-transform: translate(0px,-100px);}
}

@-webkit-keyframes move_up_fast {
	0% {-webkit-transform: translate(0px,-100px);}
	100% {-webkit-transform: translate(0px,-100px);}
}

@-webkit-keyframes move_up_reverse {
	0%   {-webkit-transform: translate(0px,-100px);}
	10%   {-webkit-transform: translate(0px,-56px);}
	70%   {-webkit-transform: translate(-90px,-56px) rotate(-40deg);}
	100% {-webkit-transform: translate(0px,0px);}
}

.keypad_animazione {
	-webkit-animation-duration:0.3s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
}


.pulsante {
	width: 70px;
	height: 70px;
	color: #FFF;
	padding: 0px;
	border-width: 3px;
	border-style: solid;
	border-radius: 6px;
	border-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
}

.pulsante_selected {
	border-color: yellow;
}

.pulsante_annulla {
	background-image: url('img/close.png');
	background-size: 60%;
	background-color: red;
	border-color: #ffffff;
}

.pulsante_ok {
	background-image: url('img/ok.png');
	background-size: 60%;
	background-color: #59bd00;
	border-color: #ffffff;
}

.pulsante_elimina {
	background-image: url('img/elimina.png');
	background-size: 70%;
	background-color: #893bbb;
	border-color: #ffffff;
}

.pulsante_menu {
	float: left;
	width: 154px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 70px;
	text-align: center;
	margin-right: 6px;
	margin-bottom: 8px;
	background-image: url('img/pulsante_testo.png');
	background-size: 100%;
}

.pulsante_menu_2righe {
	line-height: 1.2em;
	margin-top: 14px;
}

.pulsante_totale {
	float: left;
	width: 154px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 70px;
	text-align: center;
	margin-right: 6px;
	margin-bottom: 8px;
	background-image: url('img/pulsante_testo.png');
	background-size: 100%;
}

.dati_cliente {
	clear: both;
	color: white;
	display: none;
}

.dati_cliente label {
	width:460px;
	display:block;
	text-align:right;
}

.dati_cliente input {
	width: 340px;
}
