.colore_caffe {
	background-color: #723a2b;
	border-color: #804130;
	background-image: url('caffe.jpg');
}
.colore_cucina {
	background-color: #2958ef;
	border-color: #2c5eff;
	background-image: url('cucina.jpg');
}
.colore_bevande {
	background-color: #fba431;
	border-color: #ffa732;
	background-image: url('bevande.jpg');
}
.colore_vini {
	background-color: #680200;
	border-color: #730200;
	background-image: url('vini.jpg');
}
.colore_birre {
	background-color: #f1bf00;
	border-color: #ffca00;
	background-image: url('birre.jpg');
}
.colore_dessert {
	background-color: #f785bb;
	border-color: #ff90c1;
	background-image: url('dessert.jpg');
}
.colore_panini {
	background-color: #009719;
	border-color: #1A9F30;
	background-image: url('panini.jpg');
}


